---
import Layout from '../../layouts/Layout.astro';
import { createReader } from '@keystatic/core/reader';
import keystaticConfig from '../../../keystatic.config';
import { BlogList } from '../../components/BlogList';

const reader = createReader(process.cwd(), keystaticConfig);
const posts = await reader.collections.posts.all();

const sortedPosts = posts.sort((a, b) => {
    const dateA = new Date(a.entry.publishedDate || 0);
    const dateB = new Date(b.entry.publishedDate || 0);
    return dateB.getTime() - dateA.getTime();
});
---

<Layout title="Blog // kemicza">
    <h2 class="text-3xl mb-8 border-b border-accent-secondary pb-2 inline-block text-accent-secondary">> SYSTEM_LOGS</h2>

    <BlogList client:load posts={sortedPosts} />
</Layout>
