---
import Layout from '../../layouts/Layout.astro';
import { createReader } from '@keystatic/core/reader';
import keystaticConfig from '../../../keystatic.config';
import { ProjectList } from '../../components/ProjectList';

const reader = createReader(process.cwd(), keystaticConfig);
const projectsItems = await reader.collections.projects.all();
const projects = await Promise.all(
    projectsItems.map(async (project) => {
        const content = await project.entry.content();
        return {
            ...project,
            content,
        };
    }),
);
---

<Layout title="Projects // kemicza">
    <h2 class="text-3xl mb-8 border-b border-accent-secondary pb-2 inline-block text-accent-secondary">> EXECUTABLES</h2>

    <ProjectList client:load projects={projects} />
</Layout>
